
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagementInfoLayout1cshtml.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard</title>
    <link href="~/Asset_group1/css/MainDashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div class="page">
    <!-- The whle page -->
    <h2 class="title"><b>Revenue Dashboard</b></h2>
    <div id="dashboards">
        <div class="row-1">
            <div class="content-1 dashboard1">
                <div class="images"><img src="~/Asset_group1/image/sales.png" alt="" class="img-display" /></div>
                <div class="info1">
                    <div class="span"><span>Revenue</span></div>
                    <div class="detail"><p>₱ 696,000</p></div>
                </div>
            </div>
            <div class="content-1 dashboard1">
                <div class="images"><img src="~/Asset_group1/image/financial-profit.png" alt="" class="img-display" /></div>
                <div class="info1">
                    <div class="span"><span>Profit</span></div>
                    <div class="detail"><p>₱ 696,000</p></div>
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="content-2 dashboard1">
                <div class="images"><img src="~/Asset_group1/image/expenses.png" alt="" class="img-display" /></div>
                <div class="info1">
                    <div class="span"><span>Expenses</span></div>
                    <div class="detail"><p>₱ 696,000</p></div>
                </div>
            </div>
            <div class="content-2 dashboard1">
                <div class="images"><img src="~/Asset_group1/image/loss.png" alt="" class="img-display" /></div>
                <div class="info1">
                    <div class="span"><span>Losses</span></div>
                    <div class="detail"><p>₱ 696,000</p></div>
                </div>
            </div>
        </div>

    </div>

</div>