* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: azonix;
    src: url(fonts/Azonix-1VB0.otf);
}

span {
    font-family: azonix;
}

.col-card {
    background-color: rgba(87, 27, 39, 1);
    ;
    display: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 240px;
    height: 90px;
    margin: 14px;
    padding: 8px;
}

    .col-card h2 {
        color: rgba(236, 242, 249, 1);
    }

    .col-card h3 {
        color: rgba(236, 242, 249, 1);
    }

    .col-card h5 {
        color: rgba(236, 242, 249, 1);
    }

    .col-card h6 {
        color: rgba(236, 242, 249, 1);
    }

.second-container {
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 2vh;
}

#form-container {
    width: 40vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#container-2 {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: column;
}

.form-1 {
    position: relative;
    width: 500px;
    height: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.form-2 {
    position: relative;
    width: 500px;
    height: 30px;
    padding-left: 70px;
    flex-direction: row;
}

.form-actions {
    background-color: transparent;
    width: 120px;
    height: 25px;
    border: 2px rgba(87, 27, 39, 1) solid;
    margin: 3px;
    margin-left: 20px;
}

#container-3 {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    justify-content: flex-start;
    width: 10vw;
    height: 60px;
    margin-top: 10px;
    flex-direction: column;
}

#print-data {
    background-color: rgba(87, 27, 39, 1);
    color: white;
}

#reset-data {
    background-color: rgba(255, 237, 79, 1);
    color: black;
}

.button-form {
    border: 2px black solid;
    width: 100px;
    margin: 1px;
}

#search-area {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 22vw;
    height: 60px;
    margin-top: 10px;
    padding-right: 8px;
    flex-direction: column;
}

    #search-area input {
        width: 170px;
    }

#container-4 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

#main-table {
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 1);
    width: 775px;
    height: 50vh;
    position: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    overflow-y: scroll;
}

#main-table th {
    color: rgba(236, 242, 249, 1);
    background-color: rgba(87, 27, 39, 1);
    text-align: center;
    top: 0;
    padding: 8px;
    position: sticky;
}

#main-table td {
    border-bottom: 1px solid rgba(87, 27, 39, 0.5);
    z-index: -99;
    padding: 8px;
    text-align: center;
}

#table-1 {
    max-height: 50vh;
    overflow-y: scroll;
    margin-top: 14px;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(87, 27, 39, 1);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(87, 27, 39, 1);
}

#container-5 {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80vw;
    height: 15vh;
    margin-top: 57vh;
    overflow-x: auto;
    max-width: 100%;
}

#table-2 {
    max-height: 13vh;
    overflow-y: scroll;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}

#main-table-2 {
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 1), -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    width: 775px;
    position: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    overflow-y: scroll;
    overflow-x: scroll;
}

    #main-table-2 th {
        color: rgba(236, 242, 249, 1);
        background-color: rgba(87, 27, 39, 1);
        top: 0;
        padding: 0px;
        text-align: center;
        position: sticky;
    }

    #main-table-2 td {
        border-bottom: 1px solid rgba(87, 27, 39, 1);
        padding: 2px;
        text-align: center;
        width: 300px;
    }
