* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: azonix;
    src: url(fonts/Azonix-1VB0.otf);
}

span {
    font-family: azonix;

}

#container-1 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100px;
    
}

.col-card {
    background-color: rgba(87, 27, 39, 1); ;
    display: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 170px;
    height: 80px;
    margin: 14px;
    padding: 8px;
}

.col-card h3{
    color: rgba(236, 242, 249, 1);
}

.col-card h5{
    color: rgba(236, 242, 249, 1);
}

.col-card h6{
    color: rgba(236, 242, 249, 1);
}

.second-container {
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#form-container {
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#container-2 {
    position: absolute;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: column;
}

.form-1 {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-left: -220px;
}

.form-2 {
    position: relative;
    width: 500px;
    height: 30px;
    padding-left: 70px;
    flex-direction: row;
}

.form-actions {
    background-color: transparent;
    width: 120px;
    height: 25px;
    border: 2px rgba(87, 27, 39, 1) solid;
    margin: 3px;
    margin-left: 20px;
}

#container-3 {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    justify-content: flex-start;
    width: 10vw;
    height: 60px;
    margin-top: 10px;
    flex-direction: column;
}

#print-data {
    background-color: rgba(87, 27, 39, 1); 
    color: white;
}

#reset-data {
 background-color: rgba(255, 237, 79, 1);
 color: black;
}

.button-form {
    border: 2px black solid;
    width: 100px;
    margin: 1px 0px 0px 20px;
}

#semi-container {
    position: relative;
    width: 80vw;
    height: 7vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

#container-4 {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    width: 80vw;
    height: 47vh;
    margin-top: -7px;
}

.table-header {
    background-color: rgba(87, 27, 39, 1); 
    color: rgba(236, 242, 249, 1);
    width: 710px;
    height: 40px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1 {
    position: relative;
    width: 50%;
    height: 95%;
    display: flex;
    align-items:center;
    margin-top: 5px;
    justify-content: flex-end;
}

.row2 {
    position: relative;
    width: 50%;
    height: 95%;
    display: flex;
    align-items:center;
    margin-top: 10px;
    justify-content: flex-start;
}


td {
    border-bottom: 1px solid rgba(87, 27, 39, 0.2);
    padding: 8px;
    text-align: center;
    width: 300px;
}
th {
    background-color: rgba(87, 27, 39, 1);
    color: rgba(236, 242, 249, 1);
    position: sticky;
    top: 0;
    text-align: center;
}

#table-1 {
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 1),
                -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
    max-height: 285px;
    overflow-y: scroll;
    border-collapse: collapse;
    width: 355px; 
    position: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

#table-2 {
    margin: 5px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 1),
                5px 0px 5px -5px rgba(0, 0, 0, 0.5);
    max-height: 285px;
    overflow-y: scroll;
    border-collapse: collapse;
    width: 350px; 
    margin-top: 0px;
}


#table-1::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */ 
}

#table-2::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}