* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: azonix;
    src: url(fonts/Azonix-1VB0.otf);
}

span {
    font-family: azonix;
}

#container-1 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100px;
}

.col-card {
    background-color: rgba(87, 27, 39, 1); ;
    display: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 170px;
    height: 80px;
    margin: 14px;
    padding: 8px;
}

.col-card h3{
    color: rgba(236, 242, 249, 1);
}

.col-card h5{
    color: rgba(236, 242, 249, 1);
}

.col-card h6{
    color: rgba(236, 242, 249, 1);
}

.second-container {
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#form-container {
    width: 40vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

#container-2 {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: column;
}

.form-1 {
    position: relative;
    width: 500px;
    height: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.form-2 {
    position: relative;
    width: 500px;
    height: 30px;
    padding-left: 70px;
    flex-direction: row;
}

.form-actions {
    background-color: transparent;
    width: 120px;
    height: 25px;
    border: 2px rgba(87, 27, 39, 1) solid;
    margin: 3px;
    margin-left: 20px;
}

#container-3 {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    justify-content: flex-start;
    width: 10vw;
    height: 60px;
    margin-top: 10px;
    flex-direction: column;
}

#print-data {
    background-color: rgba(87, 27, 39, 1); 
    color: white;
}

#reset-data {
 background-color: rgba(255, 237, 79, 1);
 color: black;
}

.button-form {
    border: 2px black solid;
    width: 100px;
    margin: 1px;
}

#container-4 {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: row;
    width: 80vw;
    height: 55vh;
    margin-top: 10px;
}

.row1 {
    position: relative;
    width: 75%;
    height: 95%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.row2 {
    position: relative;
    width: 25%;
    height: 95%;
    
    background-color: transparent;
}

#chart-part {
    position: relative;
    width: 00px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: transparent;
}

table {
    width: 220px;
    height: 250px;
}

.table-list {
    /* border: 1px rgba(87, 27, 39, 1) solid; */
    background-color: transparent; 
    border-radius: 20px;
    margin: 20px;
    padding: 14px; 
}

.table-header tr {
    border-bottom: 1px rgba(87, 27, 39, 1) solid;
    padding: 10px;
}

.table-header {
    background-color: rgba(87, 27, 39, 1);
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}